@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*nav bar */
.navbar{
    
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 0px;
}

.max-width{
    max-width: 1300px;
    padding: 0px 0px;
    margin: 8px  40px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a{
    color:whitesmoke;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: crimson;
}

.navbar .menu li{
    list-style: none;
    display: inline;
}

.navbar .menu li a{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}

/*menu button styling*/
.menu-btn{
    color: whitesmoke;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*Home section */
.home{
    display: flex;
    height: 100vh;
    background: url("images/Desktop\ -\ 1.jpg") no-repeat center;
    color: whitesmoke;
    min-height: 500px;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
@media screen and (min-width:450px){
    .home{
        background-position: top right;
    }
}

.home .max-width{
    margin: auto 0px auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    font-size: 40px;
    font-weight: 500;
    color: crimson;
}

/*media queries*/
@media(max-width: 900px){
    .max-width{
        margin: 0px  20px;
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: rgb(32, 32, 32);
        text-align: center;
        padding-top: 40px;
        transition: all 300ms ease-in-out ;
    }

    .navbar .menu.active{
        right :0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin-top: 30px;
        font-size: 30px;
    }

    .menu-btn{
        display: block;
        z-index: 10;
    }
    .home .home-content .text-1{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .home .home-content .text-2{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .home .home-content .text-3{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    
}

@media(max-width: 600px){
    .home .home-content .text-1{
        font-size: 20px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .home .home-content .text-2{
        font-size: 45px;
        font-weight:500;
        margin-left: -3px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .home .home-content .text-3{
        font-size: 30px;
        margin: 5px 0;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}